<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Super Bowl Rental House &mdash; Indianapolis, IN 46217
    %meta{:content => "Rent this 3 bedroom house in a perfect location with easy access to Lucas Oil Stadium.", :name => "description"}
    %meta{:content => "Bob Sendelbach", :name => "author"}
    %meta{:content => "161500064", :property => "fb:admins"}
    
    <!--[if lt IE 9]>
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    <![endif]-->
    
    %meta{:content => "width=device-width,initial-scale=1,user-scalable=no", :name => "viewport"}
    %link{:href => "css/style.css", :rel => "stylesheet"}
  %body
    = partial :facebook_boot
    .container
      .content
        .page-header
          = partial :social
          %h1
            Super Bowl Rental House
            %small Indianapolis, IN 46217
          
        .row
          .span10
            = partial :photos
            = partial :map
            .text-padding
              = partial :description
              = partial :features
          .span4
            = partial :sidebar
      %footer
        %p
    / /container
    
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    %script{:src => "js/script.js"}
    = partial :ga