<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
    %meta{:content => "", :name => "description"}
    %meta{:content => "Bob Sendelbach", :name => "author"}
    
    <!--[if lt IE 9]>
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    <![endif]-->
    
    %meta{:content => "width=device-width,initial-scale=1,user-scalable=no", :name => "viewport"}
    %link{:href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/style.css", :rel => "stylesheet"}
  %body
    = partial :facebook_boot
    .container
      .content
        .page-header
          = partial :social
          %h1
            Superbowl House
            %small Indianapolis, IN
          
        .row
          .span12
            = partial :photos
            = partial :map
            = partial :description
            = partial :features
          .span4
            = partial :sidebar
      %footer
        %p &copy; The Radcliffe Group 2011
    / /container
    
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    %script{:src => "js/libs/slides.jquery.js"}
    %script{:src => "js/plugins.js"}
    
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    %script{:src => "js/script.js"}
    = partial :ga